* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	height: 1000px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #232F3E;
	padding: 5px 0;
	margin-bottom: auto;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #E47911;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: #E47911;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}

/*fotter*/
footer{
	
    text-align: center;
    background-color: black;
    padding:40px;
	position: absolute;
	width: 100%;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}
.buttons {
	min-width: 700px;
	display: flex;
	justify-content: center ;
	padding: 10px;
	
  }
  
  .buttons a {
	text-decoration: none;
	font-size: 28px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #ffffff;
	color: #000000;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .4s ease-in-out;
	margin-left: 10px;
	margin-right: 10px;
	
  }
  
  .buttons a:hover {
	transform: scale(1.2);
  }


  /* body y mapa */


  .glide {
    position: relative;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  
  .glide__slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }
  
  
  .glide__slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    height: 100%;
  }
  
  .glide__slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  
  .glide__slide .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  
  .glide__bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .glide__bullet {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .glide__bullet.glide__bullet--active {
    background-color: #fff;
  }
  













.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    /*background: linear-gradient(90deg,orange 50%,blue,red,black);춷*/
    /*background: radial-gradient(orange 50%,blue,red,black);*/
    background: linear-gradient(#FEFEFE, #888888);
}

/*aca diferenciales*/


.generales {
	background-color: #ffffff; /* Color de fondo gris para el contenedor */
	padding: 20px;
  }

  .titulo {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  
  .diferencias {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .diferencia {
	width: calc(25% - 20px); /* Ancho ajustado para cuatro tarjetas por fila */
	text-align: center;
	margin: 10px;
	padding: 20px;
	background-color: #ffffff; /* Color de fondo blanco para las tarjetas */
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* Resto de los estilos */
  }
  
  .diferencia h2 {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .diferencia img {
	width: 100%;
	height: 70%;
	margin-bottom: 10px;
  }
  
  .diferencia p {
	font-size: 14px;
  }

  .diferencia {
	/* Estilos existentes */
	/* ... */
	transition: background-color 0.3s ease; /* Transici칩n suave */
  }
  
  .diferencia:hover {
	background-color: rgba(245, 223, 26, 0.979); /* Cambiar el color de fondo en el hover */
  }
  







.diferenciales{
    padding: 3em 0;
    background: #888888;
    /*Es 0 0 Porque queremos que este desde el centro, Para colocar sombras internas: box-shadow: inset 0 0 30px skyblue;*/
}





.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 1000px;
    margin: 0 auto ;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content: "游릙";
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 5px 5px 5px 5px #000000;
    /*box-shadow: 10px 10px 30px 15px #000000, -10px -10px yellow; El primer termino es Horizontal, el segundo es Vertical, "el tercero es el color", El tercer termino es la difuminaci칩n, un quinto parametrp es decir un 4to en el orden, es el split es lo que queremos hasta donde la sombra llegue.*/
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;              
}




section.diferenciales h1 {
	font-size: 50px; /* Tama침o de la fuente personalizado */
	color: #333; /* Color de fuente personalizado */

	text-transform: uppercase; /* Convertir el texto a may칰sculas */
	margin: 20px 0; /* A침adir un margen superior e inferior */
	text-align: center;
  }
  





#rese침as-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 20px;
	background-color: #bbbaad;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: Arial, sans-serif;
  }


  
  
  .rese침a {
	width: calc(50% - 10px);
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #020202;
  }
  
  .foto-usuario {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .contenido-rese침a {
	flex: 1;
  }
  
  .rese침a .nombre {
	font-weight: bold;
  }
  
  .rese침a .fecha {
	color: #888;
	font-size: 0.8em;
  }
  
  .rese침a .comentario {
	margin-top: 5px;
	white-space: pre-wrap;
  }
  
  #nueva-rese침a-form {
	width: 35%;
	margin: 20px auto; /* Centrar horizontalmente */
	padding: 20px;
	background-color: #080808;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: Arial, sans-serif;
	color: white;
  }
  
  #nueva-rese침a-form h2 {
	text-align: center;
	 /* Centrar el t칤tulo horizontalmente */
	 color: white;
  }
  
  #nueva-rese침a-form form {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centrar los elementos del formulario horizontalmente */
  }
  
  #nueva-rese침a-form label {
	text-align: left; /* Alinear los labels a la izquierda */
  }
  
  #nueva-rese침a-form input,
  #nueva-rese침a-form textarea {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
  }
  
  #nueva-rese침a-form button {
	background-color: #4CAF50;
	color: rgb(255, 255, 255);
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }












  .FormularioContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 80px 0; /* Agrega 50px de margen superior e inferior */
    background-size: cover;
    background-position: center;
  }









form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}


.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2); 
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}



.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    /*text-shadow: 2px 2px red; para colocar titulos con sombras, la misma casaca que los anteriores Shadows, 1-Horizontal 2-Vertical 3 Color "el 3 puede ser el spring, como si fuera difuminado" */
    /*La opacidad es cuanto de luz deja pasar, entonces Para colocar opacidad en el texto de un codigo, el ultimo numero define la opacidad: color: rgba(218,0,0,0.3);*/
}

.diferencia h2,
.diferencia p{

	color: #000;
}
